@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header,
main,
section,
aside,
article,
footer,
nav,
menu,
details,
figure,
figcaption {
  display: block;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}


@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "NanumSquareNeo-Variable";
  color: var(--color-text);
}

.show{
  opacity: 1;
}

.hide{
  opacity: 0;
}

.inner {
  margin: 0 20px;
}
.Container { 
  max-width: 640px;
  min-width: 270px;
  background: var(--color-bg);
  margin: 0 auto;
  height: 100vh;
  color: var(--color-text);
}
