/***** section 1 *****/
.tit {
  margin-bottom: 15px;
  @include flex-style;
  h2{
    font-size: 18px;
      img{
        @include titImg-style;
      }
  }
  p {
    color: var(--color-gray3);
    font-size: 12px;
    img {
      margin-left: 5px;
      width: 12px;
    }
  }
}
.tktContainer {
  .tktMenu {
    .tktBar {
      font-size: 14px;
      @include flex-style;
      margin-bottom: 5px;
      a {
        color: var(--color-gray3);
        padding-bottom: 20px;
      }
      .tktActive {
        position: relative;
        color: var(--color-text);
        &::after{
          position: absolute;
          bottom: -8px;
          left: 0;
          content: "";
          width: 100%;
          height: 3px;
          background: var(--color-text);
          z-index: 1;
        }
      }
    }
    &::after {
      display: block;
      content: "";
      border: 1px solid var(--color-gray2);
      opacity: 0.3;
    }
  }
}
.tktMainList {
  margin: initial;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
  #tktSlide {
    a {
      .tktImg{
        img {
          width: 90%;
          border-radius: 10px;
        }
        .label{
          position: absolute;
          top: 0;
          right: 15%;
          width: 10%;
          border-radius: 0;
          box-shadow: none;
        }
      }
    }
    .tktTxt{
      margin: 0 10px;

      h3 {
        font-size: 15px;
        color: var(--color-text);
        margin: 10px 0 5px 0;
        font-weight: 900;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p{
        color: var(--color-gray3);
        font-size: 11px;
        font-weight: 100;
        margin-bottom: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .tktBtn{
        padding: 8px 23px;
        border-radius: 50px;
        font-size: 13px;
        background: var(--color-accent);
        color: var(--color-white);
      }
    }    
  }
}

/***** section 2 *****/ 
.showList {
  overflow: hidden;
  margin: 10px 0px 0 18px;
  h2 {
    margin: 20px 0 10px 0;
    font: {
      size: 16px;
      weight: 100;
    }
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
  &::before{
    display: block;
    content: "";
    border: 1px solid var(--color-gray2);
    opacity: 0.3;
    margin-right: 20px;
  }
}

/****** section 3 *******/
.myMenuContainer {
  width: 100%;
  .myMenu{
    margin: 40px 30px;
    background: var(--color-gray0);
    border-radius: 10px;
    ul{
      @include flex-style;
      padding: 10px;
      li{
        width: 25%;
        margin: 3.75px;
        text-align: center;
        a{
          display: block;
          color: var(--color-gray4);
          .myMenuImg{
            width: 50px;
            height: 50px;
            display: inline-block;
            img{
              display: block;
              width: 100%;
              background: var(--color-white);
              border-radius: 50px;
              padding: 5px;
            }
          }
          span{
            display: block;
            font-size: 12px;
            &:last-child{
              padding-top: 3px;
            }
          }
        }
      }
    }
  }
}

/***** section 4 ******/
.eventBannerContainer{
    .eventImg{
      img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;;
      }
    }
  .playBannerContainer{
    a{
      img{
        width: 100%;
        margin: 20px 0 30px 0 ;
      }
    }
  }
}

/**** section 5 post ****/
.postContainer{
  .post {
    overflow: hidden;
    margin-right: 0;
    padding-bottom: 40px;
    .postTxt{
      @include flex-style;
      padding-right: 20px;

      p{
        font-size: 13px;
        line-height: 1.5;
      }
      a{
        span{
          line-height: 1.5;
          padding: 7px 13px;
          background: var(--color-gray1);
          border-radius: 50px;
          font-size: 13px;
          color: var(--color-gray5);
        }
      }
    }
  }

  #postSlide{
    padding-top: 10px;
    .postWrap{
      @include flex-style;
      
      li {
        border-radius: 10px;
        background: var(--color-gray0);
        box-shadow: 3px 3px 8px rgba(0,0,0,.1);
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .postContent{
          height: 140px;
          padding: 10px;
          p {
            padding-top: 10px;
            color: var(--color-gray5)
          }
          .showName{
            font: {
              size: 12px;
              weight: 700;
            }
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .id, .review{
            font-size: 10px;
            color: var(--color-gray4);
          }
          .review{
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 2;
          }
        }
        .postBtn{
          display: flex;
          padding: 0px 0px 10px 10px;
          button{
            margin-right: 3px;
            border: 0;
            background: transparent;
            width: 14px;
            height: 14px;
            cursor: pointer;
            img{
              width: 100%;
              height: 100%;
            }
          }
          span{
            font-size: 12px;
            line-height: 20px;
            margin-right: 7px;
          }
        }
      }
    }
  }
}

/*** section 6 feed ****/
.feedContainer{
  margin-bottom: 30px;
  .feed{
    .feedTit{
      margin-top: 30px; 
      @include flex-style;
      h2{ 
        img{
          width: 16px;
          margin: 0 0 2px 3px;
          vertical-align: middle;
        }
      }
    }
  }
  .feedTag{
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: 0 10px 5px 0;
        a{
          span{
            font-size: 11px;
            display: block;
            padding: 5px 15px;
            border: 1px solid var(--color-text);
            border-radius: 50px;
            width: 100%;
          }
        }
      }
    }
  }
  .feedWrap{  
    height: 390px;
    overflow: hidden;
    margin-left: 15px;
    .feedList{
      article{
        margin-top: 15px;
        width: 48%;
        height: 180px;
        padding: 0 5px;
       div{
        position: relative;
        width: 100%;
        height: 180px;
        a{
          display: block;
          h3{
            height: 30px;
            background: rgba(255,255,255,.5);
            line-height: 30px;
            position: absolute;
            width: 100%;
            bottom: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 15px;
            font: {
              size: 12px;
              weight: 100;
            }
          }
          img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding-left: 7px;
          }
       }
      }
     }
    }
  }
  &::before {
    display: block;
    content: "";
    border: 1px solid var(--color-gray2);
    opacity: 0.3;
  }
}

/*** section 7 hotClip ****/
.hotClipContainer{
  .hotClip{
    margin-bottom: 40px;
    .hotClipTit{
      margin-top: 30px;
      img{
        vertical-align: middle;
      }
    }
   }
  .hotClipVideo{
    a{
      position: relative;

      display: block;
      .hotClipWrap{
        display: block;
        width: 100%;
        height: 180px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        text-align: center;
        width: 50px;
        height: 50px;
        border:0;
        padding: 15px 15px 15px 18px;
        background: var(--color-accent);
        border-radius: 50px;
        cursor: pointer;
        img{
          width: 100%;
          height: 100%;
          filter: invert(100);
        }
      }
      p{
        margin: 10px 0 0 10px;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &::before{
    display: block;
    content: "";
    border: 1px solid var(--color-gray2);
    opacity: 0.3;
  }
}

/*** bottomMenu ***/
.bottomMenuContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  min-width: 270px;
  margin: 0 auto;
  background: var(--color-white);
  border-top: 1px solid var(--color-gray1);
  z-index: 100;
  .bottomMenu{
  
    ul{
      @include flex-style;
      padding: 0 10px 20px 10px;
      li{
        width: 20%;
        margin: 5px;
        text-align: center;
        a{
          display: block;
          color: var(--color-gray4);
          .bottomMenuImg{
            width: 40px;
            height: 40px;
            display: inline-block;
            img{
              display: block;
              width: 100%;
              padding: 5px;
            }
          }
          .bottomTxt{
            display: block;
            font-size: 11px;
            margin-top: -5px;
          }
        }
      }
    }
  }
}

/*** topBtn ***/
  .fixedBtn{
    position: fixed;
    right: 0px;
    bottom: 100px;
    z-index: 50;
    transition: .4s;
    .tktBtnWrap{
      display: flex;
      justify-content: end;
      align-items: center;
      width: 90px;
      height: 50px;
      border-radius: 50px 0 0 50px;
      background: rgb(229,9,20);
      background: linear-gradient(164deg, rgba(229,9,20,1) 0%, rgba(255,87,8,1) 0%, rgba(255,0,0,1) 0%, rgba(255,119,0,1) 76%, rgba(255,134,87,1) 100%);
      box-shadow: 3px 3px 10px rgba(0,0,0,.15);
      .tktBtn{
        color: var(--color-white); 
        border: none;
        background: transparent;
        cursor: pointer;
        span{
          font-size: 9px;
        }
        p{
          font: {
            size: 12px;
            weight: 700;
          }
        }
      }
      .tktBtnImg{
        display: block;
        width: 24px;
        height: 24px;
        margin-left: 5px;
        transform: rotate(-45deg);
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          padding: 0 5px 0 0px;
          filter: invert(100);
        }
      }
      
    }
    @media ( min-width: 640px) {
      right: 50%;
      margin-right: -320px;
    }
  }

  .fixedBtnActive{
    bottom: 150px;
    transition: .4s;
  }

  .topBtn{
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 150;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-gray1);
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0,0,0,.15);
    z-index: 50;
    opacity: 0;
    transition: .4s;
    img {
      width: 20px;
      height: 20px;
    }    
    @media ( min-width: 640px) {
      right: 50%;
      margin-right: -296px;
    }
  }
  .topBtnActive{
    bottom:100px;
    transition: .4s;
    opacity: 0;
  }

/*** footer ****/
footer{
  font-size: 11px;
  background: var(--color-gray0);
  padding: 40px 20px 100px 20px;
  text-align: center;
  line-height: 1.8;
  color: var(--color-gray3);
  .footerMenu{
    font: {
      size: 12px;
      weight: 600;
    }
    display: flex;
    justify-content: center;
    line-height: 2;
    p{
      padding: 0 5px;
      a{
        color: var(--color-gray4);
      }
      &:nth-child(1){
        font-weight: 100;
      }
    }
  }
  .companyInfo{
    p{
      margin: 3px 0 10px 0;
      color: var(--color-gray4);
      font-weight: 600;
      span{
        padding: 0 5px;
      }
    }
  }
  .copy{
    display: block;
    margin: 10px 0;
    color: var(--color-gray2);
  }
}