/***** section 1 *****/
.tit {
  margin-bottom: 20px;
  p {
    color: var(--color-gray3);
    font-size: 12px;
    img {
      margin-left: 5px;
      width: 12px;
    }
  }
}
.tktContainer {
  .tktTit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{ 
      font-size: 20px;
      img{
        @include titImg-style;
      }
    }
  }
  
  .tktMenu {
    .tktBar {
      font-size: 14px;
      @include flex-style;
      margin-bottom: 5px;
      a {
        color: var(--color-gray3);
        padding-bottom: 20px;
      }
      .tktActive {
        position: relative;
        color: var(--color-text);
        &::after{
          position: absolute;
          bottom: 13px;
          left: 0;
          content: "";
          width: 100%;
          height: 3px;
          background: var(--color-text);
          z-index: 1;
        }
      }
    }
    &::after {
      display: block;
      content: "";
      border: 1px solid var(--color-gray2);
      opacity: 0.3;
    }
  }
}

.tktMainList {
  margin: initial;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
  #tktSlide {
    a {
      .tktImg{
        img {
          width: 90%;
          border-radius: 10px;
        }
        .label{
          position: absolute;
          top: 0;
          right: 15%;
          width: 10%;
          border-radius: 0;
          box-shadow: none;
        }
      }
    }
    .tktTxt{
      margin: 0 10px;

      h3 {
        font-size: 16px;
        color: var(--color-text);
        margin: 18px 0 10px 0;
        font-weight: 900;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p{
        color: var(--color-gray3);
        font-size: 11px;
        font-weight: 100;
        margin-bottom: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .tktBtn{
        padding: 10px 25px;
        border-radius: 50px;
        font-size: 13px;
        background: var(--color-accent);
        color: var(--color-white);
      }
    }    
  }
}

/***** section 2 *****/ 
.showList {
  overflow: hidden;
  margin: 10px 0px 0 18px;
  h2 {
    margin: 20px 0 15px 0;
    font: {
      size: 16px;
      weight: 100;
    }
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
  &::before{
    display: block;
    content: "";
    border: 1px solid var(--color-gray2);
    opacity: 0.3;
    margin-right: 20px;
  }
}

/****** section 3 *******/
.myMenuContainer {
  width: 100%;
  .myMenu{
    position: relative;
    margin: 40px 30px;
    background: var(--color-gray0);
    border-radius: 10px;
    ul{
      @include flex-style;
      padding: 10px;
      li{
        width: 25%;
        margin: 3.75px;
        text-align: center;
        a{
          display: block;
          color: var(--color-gray4);
          .myMenuImg{
            width: 50px;
            height: 50px;
            display: inline-block;
            img{
              display: block;
              width: 100%;
              background: var(--color-white);
              border-radius: 50px;
              padding: 5px;
            }
          }
          span{
            display: block;
            font-size: 12px;
            &:last-child{
              padding-top: 3px;
            }
          }
        }
      }
    }
  }
}

/***** section 4 ******/
.eventBannerContainer{
  .event{
    .eventTit{
      @include flex-style;
      h2{ 
        font-size: 20px;
        img{
          @include titImg-style;
        }
      }
    }
    .eventImg{
      img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;;
      }
    }
  }
  .playBannerContainer{
    a{
      img{
        width: 100%;
        margin: 20px 0 30px 0 ;
      }
    }
  }
}

/**** section 5 post ****/

.postContainer{
  .post {
    overflow: hidden;
    margin-right: 0;
    padding-bottom: 40px;
    .postTit{
      padding-right: 20px;
      @include flex-style;
      h2{ 
        font-size: 20px;
        img{
          @include titImg-style;
        }
      }
    }
    .postTxt{
      @include flex-style;
      padding-right: 20px;

      p{
        font-size: 13px;
        line-height: 1.5;
      }
      a{
        span{
          line-height: 1.5;
          padding: 7px 13px;
          background: var(--color-gray1);
          border-radius: 50px;
          font-size: 13px;
          color: var(--color-gray5);
        }
      }
    }
  }

  #postSlide{
    padding-top: 15px;
    .postWrap{
      @include flex-style;
      
      li {
        border-radius: 10px;
        background: var(--color-gray0);
        box-shadow: 3px 3px 8px rgba(0,0,0,.1);
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .postContent{
          height: 140px;
          padding: 10px;
          p {
            padding-top: 10px;
            color: var(--color-gray5)
          }
          .showName{
            font: {
              size: 12px;
              weight: 700;
            }
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .id, .review{
            font-size: 10px;
            color: var(--color-gray4);
          }
          .review{
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 2;
          }
        }
        .postBtn{
          display: flex;
          padding: 0px 0px 10px 10px;
          button{
            margin-right: 3px;
            border: 0;
            background: transparent;
            width: 14px;
            height: 14px;
            cursor: pointer;
            img{
              width: 100%;
              height: 100%;
            }
          }
          span{
            font-size: 12px;
            line-height: 20px;
            margin-right: 7px;
          }
        }
      }
    }
  }
}

/*** section 6 feed ****/
.feedContainer{
  height: 530px;
  overflow: hidden;
  .feed{
    .feedTit{
      @include flex-style;
      h2{ 
        font-size: 20px;
        img{
          @include titImg-style;
        }
      }
    }
  }
  
  .feedTag{
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: 0 10px 5px 0;
        a{
          span{
            font-size: 11px;
            display: block;
            padding: 5px 10px;
            border: 1px solid var(--color-text);
            border-radius: 50px;
            width: 100%;
          }
        }
      }
    }
  }

  // .feedList{
  //   margin-top: 15px;
  //   ul{
  //     @include flex-style;
  //     flex-wrap: wrap;
  //     li{
  //       width: 49%;
  //       height: 230px;
  //       a{
  //         display: block;
  //         font-size: 13px;
  //         .feedImg{
  //           display: inline-block; 
  //           width: 100%;
  //           height: 200px;
  //           overflow: hidden;
  //           border-radius: 10px;
  //           img{
  //             width: 100%;
  //             height: 100%;
  //             object-fit: cover;
  //           } 
  //         }
  //         p{
  //           padding-left: 5px;
  //         }
  //       }
  //     }
  //   }
  // }

  .feedList{
    @include flex-style;
    flex-wrap: wrap;
    margin-bottom: 30px;
    article{
      margin-top: 10px;
      width: 48%;
      height: 200px;
     div{
      position: relative;
      width: 100%;
      height: 180px;
      a{
        display: block;
        h3{
          position: absolute;
          width: 100%;
          bottom:-20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font: {
            size: 13px;
            weight: 100;
          }
          text-align: center;
        }
        img{
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          padding: 5px;
        }
     }
    }
   }
  }
}